= breadcrumbs 'Configuration', ['Sales Tax', sales_tax_rates_path], ['Customer Tax Classes', sales_tax_customer_classes_path], [@sales_tax_customer_class.name, sales_tax_customer_class_path(@sales_tax_customer_class)], 'Edit'
= page_header('Editing Sales Tax Customer Class')

= render 'form'
