- content_for :title, @sales_tax_customer_class.name
= breadcrumbs ['Configuration', configuration_path], ['Sales Tax', sales_tax_rates_path], ['Customer Tax Classes', sales_tax_customer_classes_path], [@sales_tax_customer_class.name, sales_tax_customer_class_path(@sales_tax_customer_class)], 'Edit', action: save_button

= render 'form'
