- content_for :title, 'New customer tax class'
= breadcrumbs 'Configuration', ['Sales Tax', sales_tax_rates_path], ['Customer Tax Classes', sales_tax_customer_classes_path], 'New', action: save_button

= render 'form'
