= breadcrumbs 'Configuration', ['Sales Tax', sales_tax_rates_path], ['Customer Tax Classes', sales_tax_customer_classes_path], @sales_tax_customer_class.name, action: action_button('Edit', edit_sales_tax_customer_class_path(@sales_tax_customer_class), permission: 'sales_tax.edit')

%p
  %b Name:
  = @sales_tax_customer_class.name
%p
  %b Invoice note:
  = @sales_tax_customer_class.invoice_note
%p
  %b VAT ID required:
  = @sales_tax_customer_class.vat_id_required? ? 'Yes' : 'No'
