:plain
  Hello #{@user.full_name},

  A new email address (#{@new_address}) was added to your ABT account.

  If this was not you, please contact an administrator immediately and reset your passkeys.
