:plain
  Hello #{@user.full_name},

  Please confirm this email address (#{@email.address}) belongs to your ABT account:

  #{@confirmation_url}

  This link expires on #{l(@expires_at, format: '%d.%m.%Y %H:%M %Z')}.

  If you did not request this, you can ignore this email.
