.greeting Hello #{@user.full_name},
.main-message
  A new email address (#{@new_address}) was added to your ABT account.
.main-message
  If this was not you, please contact an administrator immediately and reset your passkeys.
