.greeting Hello #{@user.full_name},
.main-message
  A passkey ("#{@credential_nickname}") was removed from your ABT account.
.main-message
  If this was not you, please contact an administrator immediately.
