= breadcrumbs 'Configuration', ['Sales Tax', sales_tax_rates_path], ['Product Tax Classes', sales_tax_product_classes_path], [@sales_tax_product_class.name, sales_tax_product_class_path(@sales_tax_product_class)], 'Edit'
= page_header('Editing Sales Tax Product Class')

= render 'form'
