= page_title 'New product tax class'
= breadcrumbs 'Configuration', ['Sales Tax', sales_tax_rates_path], ['Product Tax Classes', sales_tax_product_classes_path], 'New', action: save_button

= render 'form'
