- content_for :title, 'Users'

- can_invite = can?('user_invites.manage')
- invite_action = can_invite ? button_to('+ Invite user', user_invites_path, method: :post, class: 'btn btn-primary', data: { turbo: false }) : nil
- invites_nav = nav_button('View invites', user_invites_path, permission: 'user_invites.manage')
= breadcrumbs ['Configuration', configuration_path], 'Users', actions: [invites_nav], action: invite_action

%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Username
      %th Full name
      %th Status
      %th Created
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.username, user_path(user)
        %td= user.full_name
        %td
          - if user.blocked?
            %span.badge.bg-danger Blocked
        %td= l(user.created_at)
