= breadcrumbs 'Configuration', ['Sales Tax', sales_tax_rates_path], [(@sales_tax_rate.sales_tax_customer_class&.name.to_s + ' / ' + @sales_tax_rate.sales_tax_product_class&.name.to_s), sales_tax_rate_path(@sales_tax_rate)], 'Edit', action: save_button

= render 'form'
