- content_for :title, @product.title
= breadcrumbs ['Configuration', configuration_path], ['Product Catalog', products_path], [@product.title, product_path(@product)], 'Edit', action: save_button

= render 'form'
